

body {
  background: url(assets_photos/sunset.jpg);
  background-position: center-right;
  background-size: 190vh;
  background-repeat: repeat-x;
  color: white;
  font-family: 'Poiret One', 'avenir'
  }
  
  h1 {
  text-align: center;
  font-size: 80px;
  margin-bottom: 0;
  }
  
  h2 {
    text-align: center;
  }

  h5 {
    color: rgb(76, 107, 169);
  }

  p {
  line-height: 90%;
  font-size: 26px;
  }
  
  #input-area {
    text-align: center;
  }

  @keyframes blink {
    from {height: 40px}
    45% {height: 0px}
    55% {height: 0px}
    to {height: 40px}
  }

  #zip {
    font-size: 18px;
    font-family: "Poiret One", "avenir";
    color:  rgb(20, 0, 20);
    text-align: center;
    height: 40px;
    margin-bottom: -20px;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
    padding: 0px;
    border-style: none;
  }

  .send {
    font-family: "Poiret One", "avenir";
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
  }

  ::placeholder {
    color: rgb(117, 92, 113);
    font-size: 15px;
  }

  @keyframes horizon {
    from {background-color: rgba(247, 185, 238, 0.6)}
    20% {background-color: rgba(247, 165, 57, 0.6)}
    40% {background-color: rgba(154, 116, 245, 0.6)}
    60% {background-color: rgba(247, 107, 153, 0.6)}
    70% {background-color: rgba(241, 143, 129, 0.6)}
    90% {background-color: rgba(112, 209, 247, 0.6)}
    to {background-color: rgba(197, 227, 186, 0.6)}
  }

  #search {
    background: rgba(250, 235, 248, 0.6);
    font-size: 16px;
    height: 55px;
    width: 55px;
    border-style: none;
    border-radius: 50%;
    outline: none;
    color: white;
    animation-name: horizon;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

#search:hover {
  color:  rgb(66, 1, 66);
  animation-play-state: paused;
}
  
  #display {
    width: 50%;
    display: flex;
    margin-top: -10px;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
  
  #place {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  #city {
    font-size: 40px;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
  }
  
  #temp {
    object-fit: contain;
    font-size: 50px;
    margin-top: -10px;
    border-radius: 15px;
  }
  
  #data {
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
  }
  
  #orb {
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    margin-bottom: -20px;
    margin-top: 30px;
    flex-direction: column;
    align-content: flex-start;
    background: url(assets_photos/stars.gif);
    background-position: center;
    background-size: 90%;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    border: 5px;
    border-style: solid;
    border-color: rgba(248, 227, 245, 0.3);
    opacity: .85;
  }

  #grade {
    padding-top: 10vh;
    font-size: 70px;
    text-align: center;
  }
  
  #message {
    margin: 20px 40px 40px 40px;
    padding: 10px 5px 10px 5px;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
  }

  /* Push orb left as elements close in */

   @media screen and (max-width: 1200px) and (max-height: 850px) {
    #orb {
      left: 25%;
    }
  } 

  @media screen and (min-width: 1000px) and (max-height: 850px) {  
    #orb {
      left: 25vw;
    }

  } 

  @media screen and (max-width: 950px) and (max-height: 850px) {
    #orb {
      left: 17%;
    }
  } 

  @media screen and (max-width: 915px) and (max-height: 775px) {
    #orb {
      left: 20%;
    }
  } 
  @media screen and (max-width: 1200px) and (max-height: 600px) {
    #orb {
      left: 20%;
    }
  } 
  @media screen and (min-width: 1000px) and (max-height: 600px) {
    #orb {
      left: 34%;
    }
  }

  @media only screen and (max-width: 1000px) {
    h1 {
      font-size: 80px;
    }

    #city {
      font-size: 30px;
    }

    #temp {
      font-size: 37px;
    }

    #data {
      font-size: 20px;
      height: 25%;
    }

    #message {
      font-size: 28px;
    }
    
  }

  @media only screen and (max-width: 800px) {
    h1 {
      font-size: 60px;
    }

    p {
      font-size: 25px;
    }
    
    #display {
      justify-content: space;
    }

    #city {
      font-size: 25px;
    }

    #temp {
      font-size: 32px;
    }

    #data {
      font-size: 15x;
      height: 25%;
      padding: 0px 5px 0px 5px;
      height: 50%;
    }

    #orb {
      bottom: 0px;
      left: -10px;
    }

    #message {
      font-size: 26px;
    }
    
  }

  @media screen and (max-width: 1100px) and (max-height: 725px) {
    #city {
      font-size: 30px;
      margin-right: 10px;
    }
    #temp {
      font-size: 40px;
      margin-right: 10px;
    }
  } 


  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 50px;
    }

    p {
      font-size: 20px;
    }
    
    #display {
      display: block-inline;
      margin: 0 auto;
    }

    #place {
      margin-bottom: 0px;
    }

    #city {
      font-size: 20px;
      width: max-content;
    }

    #temp {
      font-size: 25px;
    }
    
    #data {
      right: 0px;
      height: 25%;
      padding: 0px 5px 0px 5px;
      height: 50%;
      margin-top: 15px;
    }

    #orb {
      bottom: 0px;
      left: -10px;
    }

    #message {
      font-size: 24px;
    }
  } 

  @media screen and (min-width: 600px) and (max-height: 1000px) {

    h1 {
      font-size: 60px;
    }

    p {
      font-size: 25px;
    }

    #place {
      display: inline;
    }

    /* #city {
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 25px;
    } */

    #temp {
      font-size: 32px;
    }

    #data {
      font-size: 15x;
      height: 25%;
      margin-top: 20px;
      padding: 0px 5px 0px 5px;
      height: 50%;
      margin-top: 40px;
    }

  } 

  @media screen and (max-height: 600px) {
    p {
      font-size: 18px;
    }

    #city {
      font-size: 20px;
    }

    #grade {
      padding-top: 50px;
    }

    #message {
      font-size: 18px;
    }
  }


/* Mobile Media Query */

@media screen and (max-height: 812px) and (max-width: 375px) {
  body {
    background-position: top;
  }

    h1 {
    font-size: 35px;
    text-align: left;
    margin-bottom: -10px;
  }

    h2 {
    
    font-size: 20px;
    text-align: right;
  }

    p {
    font-size: 16px;
    }

  @keyframes blink {
      from {height: 30px}
      45% {height: 0px}
      55% {height: 0px}
      to {height: 30px}
    }
  
    #zip {
      font-size: 16px;
      height: 30px;
    }
  
    ::placeholder {
      font-size: 12px;
    }
  
    #search {
      background: rgba(250, 235, 248, 0.6);
      font-size: 12px;
      height: 35px;
      width: 35px;
    }
  
    #display {
      width: 100%;
      margin: 0 auto;
      margin-top: 10px;
      align-content: space-between;
      justify-content: flex-start;
    }

    #place {
      align-items: flex-start;
    }
    
    #city {
      font-size: 18px;
      border-radius: 15px;
      padding: 10px 15px 10px 15px;
      margin-right: 5px;
    }
    

    #temp {
      object-fit: contain;
      font-size: 24px;
      margin-top: -10px;
      border-radius: 15px;
      padding: 20px 15px 20px 15px;
    }
    
    #data {
      position: absolute;
      height: 21%;
      right: 0px;
      font-size: 22px; 
      border-radius: 15px;
      padding: 5px 15px 5px 15px;
      margin-top: 75px;
      margin-right: 5px;
    }
    
    #orb {
      left: 0;
      margin: 0 auto;
      margin-bottom: 7px;
      margin-top: 30px;
      height: 45.3vh;
      width: 45.3vh;

    }
  
    #grade {
      padding-top: 8vh;
    }
    
    #message {
      font-size: 25px;
    } 

}

